<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .container{
            display: flex;
            justify-content: center; 
            align-items: center;
        }

        .container-box {
            position: absolute;
            max-width: 400px;
            height: 400px;
            text-align: justify;
            padding: 15px;
            border-radius: 10px;
            background-color: rgb(239, 252, 253);
        }

    </style>
    <title>Envio de e-mail</title>
</head>
<body>
    <div class="container">
        <div class="container-box">
            <h1>Monitoring expenses</h1> 
        
            <h3>Sejá bem vindo(a), {{nameUser}}!</h3>
    
            <p>O seu cadastro foi efetuado com sucesso.</p>
            <p>Nosso aplicativo serve para que você monite os seus gastos e tenha um maior controle financeiro</p>
            <h3>Funcionalidades disponíveis no aplicativo</h3>
            <ul>
                <li>Cadastrar seus gastos</li>
                <li>Saber quanto gastou por dia, semana, mês, ou ano</li>
            </ul>
        </div>
    </div>

</body>
</html>